button {
  background-color: #5A6AAA;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: middle;
}
button:hover {
  background-color: #3A4885;
}